#colorChangeBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;

    width: 20%;
    min-width: 300px;
    height: 30%;
    min-height: 200px;
    background-color: #fff;

    box-shadow: 0 0 40px 20px #00000025;

}

#colorCode{
    margin: 8% 0 15% 0;
    cursor: pointer;
}

#copyBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    align-items: center;
    justify-self: center;
}

#changeColorBtn{
    cursor: pointer;
    background-color: transparent;
    padding: 14px;
    border-radius: 10px;
    border: 3px solid black;
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 8%;
}

#copiedAlert{
    height: 20px;
}